EXPO_PUBLIC_SUPABASE_URL=https://uaaglfqvvktstzmhbmas.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhYWdsZnF2dmt0c3R6bWhibWFzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM4Mjg2MjAsImV4cCI6MjA2OTQwNDYyMH0.a8LJC6RehfahtGr8Y6mixj_U7uvBB275AgAoJPjzy40
EXPO_PUBLIC_OPENAI_API_KEY=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
